services:
  - type: web
    name: uas-paw-kelompok9-SIBEO
    dockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SESSION_SECRET
        generateValue: true